body {
    background: #efefef;
    font-family: Arial;
}

.container {
    width: 270px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    font-size: 18px;
}

button {
    width: 60px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
}

.equal {
    width: 250px;
    background: green;
    color: white;
}
